.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.redCard, .blueCard, .greenCard{
    width: 32%;
    background-color: crimson;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueCard{
    background-color: lightskyblue;
}

.greenCard{
    background-color: limegreen;
}

.redCard p, .blueCard p, .greenCard p{
    text-align: center;
}


.redCard img, .blueCard img, .greenCard img{
    width: 330px;
    height: 100px;
}