ul{
  margin: 0;
}

.title {
  text-align: center;
  color: darkblue;
  font-family: fantasy;
  padding-top: 20px;
}

.nav{
  background-color: crimson;
  padding: 25px;
}

.nav ul li{
  list-style: none;
  display: inline-block;
}

.nav ul li a{
  text-decoration: none;
  margin-right: 15px;
  font-size: 22px;
}

.active-link{
  color: #09ff09;
  text-decoration: underline!important;
}

.posts{
  padding: 25px 50px;
}

.posts a{
  font-size: 22px;
}

.post{
  padding: 15px 100px;
}

.post p {
  font-size: 22px;
}



.dataBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataCard{
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dataContent{
  width: 19%;
  border: 3px outset #8d8ce9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e2c5c4;
  margin: 7px;
  padding: 10px;
}

.dataSpacing1{
  margin-bottom: 0;
}

.dataSpacing2{
  margin-top: 0;
}

.dataFont{
  font-style: italic;
}

.dataDecoration{
  text-decoration: underline;
}

.redCard, .blueCard, .greenCard{
  width: 32%;
  background-color: crimson;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueCard{
  background-color: lightskyblue;
}

.greenCard{
  background-color: limegreen;
}